<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="SettingsRelativeFilePath" value="settings.xml"/>
    <add key="DefaultLanguage" value="en-US"/>
    <add key="DefaultPointsCount" value="1000"/>
  </appSettings>
</configuration>
